/* Color customization */
:root {
  /* yellow */
  /* --primary: #f9c412;
  --primary-dark: #e7bf60; */
  --primary: #2a2;
  --primary-dark: #080;
  --selection: #1a1a1a;
  --font-color: #ccc;
  --nav-color: rgba(20, 20, 20, 0.85);
}

/*! purgecss start ignore */
:root {
  --main-width: calc(100vw - 3em);
}

@media (min-width: 37.5em) {
  :root {
    --main-width: calc(37.5em - 3em);
  }
}
/*! purgecss end ignore */

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  quotes: "“" "”" "‘" "’";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #000;
  color: var(--font-color);
}

main {
  animation: pageload1 0.5s ease-in-out;
}

header > h1 {
  animation: pageload2 0.5s ease-in-out;
}

@keyframes pageload1 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pageload2 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  max-width: 70rem;
  margin: 0 auto;
  border-top: 0.5px solid var(--font-color);
}

* {
  border: 0;
  box-sizing: border-box;

  &::selection {
    background: var(--selection);
    color: var(--font-color);
  }
}
