/* Color customization */
:root {
  /* yellow */
  /* --primary: #f9c412;
  --primary-dark: #e7bf60; */
  --primary: #2a2;
  --primary-dark: #080;
  --selection: #1a1a1a;
  --font-color: #ccc;
  --nav-color: rgba(20, 20, 20, 0.85);
  --nav-color-dark: rgba(25, 25, 25, 0.85);
  --header-footer-color: rgb(10, 10, 10);
}

/*! purgecss start ignore */
:root {
  --main-width: calc(100vw - 3em);
}

@media (min-width: 37.5em) {
  :root {
    --main-width: calc(37.5em - 3em);
  }
}
/*! purgecss end ignore */

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  quotes: "“" "”" "‘" "’";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  &, &::after, &::before {
    border: 0;
    box-sizing: border-box;
  }

  &::selection {
    background: var(--selection);
    color: var(--font-color);
  }
}

body {
  margin: 0;
  background: #000;
  color: var(--font-color);
}

main {
  max-width: 70rem;
  margin: 0 auto;
  min-height: 80vh;
}

article {
  max-width: 100%;
  padding: 1.5em;
  width: 40em;
  margin: 0 auto;

  /* Avoid the header hiding the content on anchor scroll. */
  * {
    scroll-margin-top: 50px;
  }
}
