---
permalink: /id/categories/
layout: layouts/home-id.njk
title: Kategori dan Tags
translation: /categories/
---
<h2>Kategori</h2>
Blog ini punya dua kategori, <a href="/id/categories/thoughts">Thoughts</a> dan <a href="/id/categories/devs">Devs</a>.

<h2>Tags</h2>

{% for tag in collections.tagList %}
  {% set tagUrl %}/id/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a> /
{% endfor %}