noopener noreferrer---
title: brain dump
layout: layouts/home-en.njk
description: Mufid's personal website
date: Last Modified
translation: /id/
---

<p>
  Hello! Welcome to my site. Here is the place I dump some of my thoughts that (I think) worth sharing. Please read more <a href="about">about me and this site</a>.
</p>

<h2 class="smallh2">Best posts</h2>
{% set postslist = collections.posts | languageFilter('en') | featuredFilter %}
{% include "postslist.njk" %}
<a href="/posts/">See more...</a>

<br>

<br>

<h2>Wait!</h2>

<p>
  While you're here, I'd like to say that I've just rebuilt this very website and I'm kinda proud of it. Now, this website has a perfect score in Lighthouse (means it's very fast thanks for <a href="https://github.com/google/eleventy-high-performance-blog" target="_blank" rel="noopener noreferrer">this template</a>), and is multilingual. 
</p>

<h3>Your privacy is important to me</h3>
<p>
  This website uses <a href="https://beampipe.io" target="_blank" rel="noopener noreferrer">Beampipe</a> for analytics purposes, which doesn't use cookies and is much more privacy-focused than Google Analytics. It is also compliance with GDPR, PECR, and CCPA. I do care about your privacy 🤗. 
</p>

<h3>Why dark mode?</h3>
<p>
  I chose dark mode and didn't make the dark/light mode toggle because an extensive <a href="https://www.nature.com/articles/s41598-018-28904-x" target="_blank" rel="noopener noreferrer">German opthalmology research</a> concluded that reading dark text on a light background thins the <a href="https://en.wikipedia.org/wiki/Choroid" target="_blank" rel="noopener noreferrer">choroid</a>, the vascular layer of the eye, contributing to myopia, while reading light text on a dark background increases the thickness of the choroid. I care about your eyes, too.
</p>

<p>
  I'm planning to add more functionalities and redesign some parts in the near future. See more about this web and follow the development on <a href="https://github.com/mufidu/mufidu.com" target="_blank" rel="noopener noreferrer">Github</a>.
</p>

<p>
  That's all, have a nice day!
</p>

<blockquote>
  <p>
    P.S. You can <a href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fmufidu.com" target="_blank" rel="noopener noreferrer">test this website</a> yourself, if you want!
  </p>
</blockquote>
