---
title: brain dump
layout: layouts/home-id.njk
description: Websitenya Mufid
date: Last Modified
permalink: /id/
translation: /
---

<p>
  Halo! Selamat datang di web personal saya. Ini adalah tempat saya berbagi beberapa tulisan. Sebelumnya coba lihat <a href="/id/about">tentang saya dan web ini</a>. 
</p>

<h2 class="smallh2">Tulisan pilihan</h2>
{% set postslist = collections.posts | languageFilter('id') | featuredFilter %}
{% include "postslist.njk" %}
<a href="/posts/">See more...</a>
