---
title: brain dump
layout: layouts/home-en.njk
description: Mufid's personal website
date: Last Modified
translation: /id/
---

<p>
  Hello! Welcome to my site. Here is the place I dump some of my thoughts that I think worth sharing. Please see more <a href="about">about me and this site</a>.
</p>

<h2 class="smallh2">Best posts</h2>
{% set postslist = collections.posts | languageFilter('en') | featuredFilter %}
{% include "postslist.njk" %}
<a href="/posts/">See more...</a>
