---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home-en.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
translation: /id/tags/{{ tag | slug }}/
---

{% set postslist = collections[ tag ] %}
{% include "postslist-en.njk" %}

<p>See <a href="{{ '/categories/' | url }}">all categories and tags</a>.</p>
