.jumbotron {
  padding-top: 6rem;
  background-color: rgba(237, 245, 231, 0.651);
}
body {
    min-height: 2000px;
}

#gallery {
  background-color: rgba(237, 245, 231, 0.651);
}

section {
  padding-top: 5rem;
}