---
permalink: /id/categories/devs/
layout: layouts/home-id.njk
title: Devs
translation: /categories/devs/
---
Di kategori ini, saya nulis solusi dari masalah-masalah yang saya temuin, biasanya pas lagi ngoding.
<br>
<br>

{% set postslist = collections.categories["devs"] | languageFilter("id") %}
{% include "postslist.njk" %}

<p>Lihat <a href="{{ '/id/categories/' | url }}">semua kategori dan tags</a>.</p>
