---
permalink: /categories/devs/
layout: layouts/home-en.njk
title: Devs
translation: /id/categories/devs/
---
In this category, I write about my solutions to problems that I have encountered, mostly while developing.
<br>
<br>

{% set postslist = collections.categories["devs"] | languageFilter("en") %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/categories/' | url }}">all categories and tags</a>.</p>
