---
permalink: /id/categories/thoughts/
layout: layouts/home-id.njk
title: Thoughts
translation: /categories/thoughts/
---
Di kategori ini, saya nuangin beberapa ide sama pikiran yang saya pikir sayang kalo ilang gitu aja. Ada juga beberapa hal yang saya temuin di internet dan bagus juga buat dibagi.
<br>
<br>

{% set postslist = collections.categories["thoughts"] | languageFilter("id") %}
{% include "postslist.njk" %}

<p>Lihat <a href="{{ '/id/categories/' | url }}">semua kategori dan tags</a>.</p>
