---
permalink: /categories/thoughts/
layout: layouts/home-en.njk
title: Thoughts
translation: /id/categories/thoughts/
---
In this category, I share many things from various topics that I think are worth sharing.
<br>
<br>

{% set postslist = collections.categories["thoughts"] | languageFilter("en") %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/categories/' | url }}">all categories and tags</a>.</p>
