a {
  color: var(--primary);
  background-color: transparent;
  text-decoration: none;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    animation-fill-mode: forwards;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.direct-link {
  font-size: 80%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

h2,
h3,
h4,
h5,
h6 {
  &:hover > .direct-link {
    opacity: 1;
  }
}
