<ul class="posts-list" id="posts">
{% for post in postslist | reverse %}
{% if post.data.lang == "id" %}
  <li>
    <a class="cover-image-list" href="{{ post.url | url }}"><img src="{{ post.data.coverImage }}" alt="{{ post.data.title }}"></a>
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>&nbsp;
    &nbsp;<time class="post-date"  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endif %}
{% endfor %}
</ul>
