<ul class="posts-list" id="posts">
{% for post in postslist | reverse %}
  <li>
    <img src="{{ post.data.coverImage }}" alt="{{ post.data.title }}">
    <a href="{{ post.url | url }}" class="post-title-list">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a><time class="post-date-list"  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ul>
