<ul class="posts-list" id="posts">
{% for post in postslist | reverse %}
{% if post.data.lang == "id" %}
  <li>
    <img class="cover-image-list" src="{{ post.data.coverImage }}" alt="{{ post.data.title }}">
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a><time class="post-date-list"  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endif %}
{% endfor %}
</ul>
