footer {
  background: var(--header-footer-color);
  color: rgb(187, 180, 180);
  padding: 1.5em;
  font-size: 85%;
  text-align: center;

  > * {
    margin: 0;
  }

  p:last-child {
    font-size: 85%;
    color: rgba(187, 180, 180, 0.7);
    margin-bottom: 0;
  }

  p:first-child {
    margin-bottom: 0em;
    font-size: 100%;
  }
}
