@media (max-width: 768px) {
  .eleventy-plugin-embed-instagram {
    width: 100%;
  }
}

.eleventy-plugin-embed-spotify {
  text-align: center;
}

.eleventy-plugin-youtube-embed {
  margin: 1.5rem 0;
}
