---
title: brain dump
layout: layouts/home-id.njk
description: Websitenya Mufid
date: Last Modified
permalink: /id/
translation: /
---

<p>
  Halo! Selamat datang di web personal saya. Ini adalah tempat saya berbagi beberapa tulisan. Sebelumnya coba lihat <a href="/id/about">tentang saya dan web ini</a>. Lihat juga project-project yang pernah saya kerjakan di <a href="/id/projects">halaman project</a>.
</p>

<h2 class="smallh2">Tulisan pilihan</h2>
{% set postslist = collections.posts | languageFilter('id') | featuredFilter %}
{% include "postslist.njk" %}
<a href="/id/posts/">Lihat lainnya...</a>

<br>

<br>

<h2>Tunggu dulu!</h2>

<p>
  Mumpung masih di sini, saya mau cerita kalo saya baru selesai ngebuat ulang website ini dan bisa diliat hasilnya lumayan lah ya haha. Sekarang website ini punya score perfect di Lighthouse (yang berarti web ini performancenya bagus, terimakasih sama <a href="https://github.com/google/eleventy-high-performance-blog" target="_blank" rel="noopener noreferrer">template ini</a>), dan bilingual (Inggris sama Indo). 
</p>

<h3>Privasi Anda penting</h3>
<p>
  Website ini pakai <a href="https://beampipe.io" target="_blank" rel="noopener noreferrer">Beampipe</a> buat kebutuhan analytics-nya. Beampipe ini gapake cookies dan jauh lebih ngehargain privacy daripada Google Analytics, dan dia juga sesuai sama aturan GDPR, PECR, dan CCPA. I do care about your privacy 🤗. 
</p>

<h3>Kenapa dark mode?</h3>
<p>
  Saya milih dark mode dan sengaja gabuat toggle buat light mode karena ada <a href="https://www.nature.com/articles/s41598-018-28904-x" target="_blank" rel="noopener noreferrer">riset oftalmologi di Jerman</a> yang nyimpulin kalo baca teks hitam di background yang terang bisa menipiskan <a href="https://id.wikipedia.org/wiki/Koroid" target="_blank" rel="noopener noreferrer">koroid</a>, lapisan vasikular mata, yang bisa menyebabkan myopia. Sementara, membaca teks putih di background yang gelap bisa menebalkan koroid. I care about your eyes, too.
</p>

<p>
  Saya bakal nambahin beberapa fungsionalitas dan desain ulang beberapa bagian. Semua code website ini bisa diliat di <a href="https://github.com/mufidu/mufidu.com" target="_blank" rel="noopener noreferrer">GitHub</a>.
</p>

<p>
  Udah itu aja, have a nice day!
</p>

<blockquote>
  <p>
    P.S. Kalo mau nyoba tes website ini, bisa <a href="https://pagespeed.web.dev/report?url=https%3A%2F%2Fmufidu.com" target="_blank" rel="noopener noreferrer">di sini</a>!
  </p>
</blockquote>