.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 100rem;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;

        // <button>
        cursor: pointer;
        border: none;
    }

    &:hover,
    &:focus {
        // don't just remove the outline
        outline: none;
        transform: translateY(-0.3rem);
        box-shadow: 0 1.3rem 2rem rgba(0, 0, 0, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2);
    }

    &--putih {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--hijau {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: dariBawah 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        font-size: $default-font-size;
        text-decoration: none;
        color: $color-primary;
        border-bottom: 0.1rem solid $color-primary;
        padding: 0.3rem;
        transition: all 0.2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-0.3rem);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0rem);
    }
}
