---
title: CV
permalink: /cv/
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>redirecting to my cv...</title>
        <meta
            http-equiv="refresh"
            content="0; URL=https://telkomuniversityofficial-my.sharepoint.com/:b:/g/personal/mufidu_student_telkomuniversity_ac_id/ERFGiXhPC5NLhvMu3RlodEkBXnIpe3GkKoHl6LupapGwgQ?e=uWr4gH"
        />
        <link rel="canonical" href="https://telkomuniversityofficial-my.sharepoint.com/:b:/g/personal/mufidu_student_telkomuniversity_ac_id/ERFGiXhPC5NLhvMu3RlodEkBXnIpe3GkKoHl6LupapGwgQ?e=uWr4gH" />
    </head>
    {# style body to the center of the page vertically and horizontally #}
    <body style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">
        redirecting to my cv...
    </body>
</html>