---
title: CV
permalink: /cv/
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>redirecting to my cv...</title>
        <meta
            http-equiv="refresh"
            content="0; URL=https://www.canva.com/design/DAE8RkPd0QA/cPESUESHVSTzV_zaAdkKcA/edit?utm_content=DAE8RkPd0QA&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
        />
        <link rel="canonical" href="https://www.canva.com/design/DAE8RkPd0QA/cPESUESHVSTzV_zaAdkKcA/edit?utm_content=DAE8RkPd0QA&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" />
    </head>
    {# style body to the center of the page vertically and horizontally #}
    <body style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">
        redirecting to my cv...
    </body>
</html>