---
title: CV
permalink: /cv/
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>redirecting to my cv...</title>
        <meta
            http-equiv="refresh"
            content="0; URL=https://docs.google.com/document/d/1Lcr7CekF_Mj0GG382uhcWxdRV3aXnDQl/edit?usp=sharing&ouid=112692920264924366802&rtpof=true&sd=true&usp=embed_facebook"
        />
        <link rel="canonical" href="https://docs.google.com/document/d/1Lcr7CekF_Mj0GG382uhcWxdRV3aXnDQl/edit?usp=sharing&ouid=112692920264924366802&rtpof=true&sd=true&usp=embed_facebook" />
    </head>
    {# style body to the center of the page vertically and horizontally #}
    <body style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">
        redirecting to my cv...
    </body>
</html>