button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}

th {
  font-weight: 600;
}
td,
th {
  border-bottom: 1px solid #595959;
  overflow: auto;
  padding: 0.75em;
  text-align: left;
  vertical-align: top;
}
thead th {
  border-bottom: 1px solid var(--primary);
}
table {
  display: table;
}

small {
  color: #ccc;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-bottom: 1px solid #eee;
}
figcaption {
  color: #ccc;
  margin-top: 0.75em;
  font-size: 80%;
}
dt {
  font-weight: 600;
}
@media (max-width: 767px) {
  fieldset {
    min-width: 0;
  }
  fieldset * {
    flex-grow: 1;
    page-break-before: auto;
  }
  x:-moz-any-link {
    display: table-cell;
  }
}

form {
  padding: 1.5em 1.5em 0;
  border: 0.2rem solid #202020;
  margin-bottom: 1.5em;

  small {
    font-style: italic;
  }
}

fieldset {
  padding: 0;
  margin: 0;

  legend {
    font-size: 150%;
    margin-bottom: 0.75em;
  }
}

button,
input,
select,
textarea {
  border-radius: 0.3em;
  display: inline-block;
  padding: 0.75em;
  max-width: 100%;
}
button + input[type="checkbox"],
button + input[type="radio"],
button + label,
input + input[type="checkbox"],
input + input[type="radio"],
input + label,
select + input[type="checkbox"],
select + input[type="radio"],
select + label,
textarea + input[type="checkbox"],
textarea + input[type="radio"],
textarea + label {
  page-break-before: always;
}
input,
select,
textarea {
  margin-bottom: 1.5em;
}
textarea {
  min-height: 7.5em;
  min-width: 15em;
}
label {
  display: inline-block;
}
label + * {
  page-break-before: always;
}
fieldset > * {
  display: block;
}
input,
select {
  display: inline;
}
fieldset > *,
form > :not(fieldset) {
  margin-right: 0.75em;
}
button,
input[type="reset"],
input[type="submit"] {
  background: #f2f2f2;
  color: #191919;
  cursor: pointer;
  display: inline-block;
  padding: 0.75em 1.5em;
  text-align: center;
  margin: 0 0.75em 1.5em 0;

  &:hover {
    background: #d9d9d9;
    color: #000;
  }

  &[disabled] {
    background: #e6e6e6;
    color: #404040;
    cursor: not-allowed;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="phone"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  border: 1px solid #595959;
  padding: 0.75em;
}
input[type="checkbox"],
input[type="radio"] {
  flex-grow: 0;
  margin: 0.75em 0.375em 0.75em 0;
  vertical-align: middle;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  page-break-before: avoid;
}
select[multiple] {
  min-width: 15em;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

ol,
ul {
  margin-top: 0;
}
li dl,
li ol,
li ul {
  margin-bottom: 0;
}
dl {
  display: block;
  clear: both;
  margin: 0 0 1.5em;
}
dt {
  padding-top: 0.75em;
  padding-left: 0.75em;
}
dd {
  padding-bottom: 0.75em;
  margin-left: 2.25em;
}
dd + dt {
  border-top: 1px solid #f9c412;
}
blockquote {
  border-left: 1px solid #f9c412;
  padding: 0 1.5em;
  margin: 1.5em 0 1.5em 1.5em;
}
blockquote footer {
  background: none;
  display: block;
  color: #ccc;
  padding: 0.75em 0;
  font-size: 90%;
  text-align: start;
}
blockquote p {
  opacity: 0.8;
  font-style: italic;
}

input[type="submit"],
button[type="submit"],
button:not([disabled]) {
  background: var(--primary);
}
input[type="submit"]:hover,
button[type="submit"]:hover,
button:not([disabled]):hover {
  background: var(--primary-dark);
}

dd + dt {
  border-top: 1px solid var(--primary);
}

blockquote {
  border-left: 1px solid var(--primary);
}
