---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home-id.njk
eleventyComputed:
  translation: "/tags/{{ tag | slug }}/"
  title: Tagged “{{ tag }}”
permalink: "/id/tags/{{ tag | slug }}/"
---

{% set postslist = collections[ tag ] %}
{% include "postslist-id.njk" %}

<p>Lihat <a href="{{ '/id/posts/' | url }}">tulisan lainnya</a>.</p>
