---
#layout: layouts/base-en.njk
templateClass: tmpl-post
---
{% extends "layouts/base-en.njk" %}


{% block extraArticleHeader %}
<p><a href="/categories/{{ category }}">{{ category[0].toUpperCase() + category.slice(1).toLowerCase() }}</a> | <time class="post-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
{% endblock %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}
{{ content | safe }}

<br>
<hr>
<p>
  Thanks for reading to the end! <a href="{{ shareUrl | safe }}" on-click="share">Sharing</a> this article on your favorite social media 
  would be highly appreciated 💖! If you find something wrong (grammar or content), please 
  <a href="mailto:mufidu@outlook.com">send me a message</a>.
</p>
<p>
  {% for tag in tags %}
    {% if tag != "posts" %}
    <a class="post-tag" href="/tags/{{ tag }}/">{{ tag }}</a>
    {% endif %}
  {% endfor %}
</p>

{# {% set relatedPosts = site.posts | filter: { tags: tags } | limit: 3 %}
{% if relatedPosts %}
<h3>Related Posts</h3>
<ul>
  {% for post in relatedPosts %}
  <li><a href="{{ post.url | safe }}">{{ post.title | safe }}</a></li>
  {% endfor %}
</ul>
{% endif %} #}

{% set previousPost = collections.posts | languageFilter("en") | getPreviousCollectionItem(page)%}
{% set nextPost = collections.posts | languageFilter("en") | getNextCollectionItem(page) %}

<br>
<div class="post-navigation">
{% if previousPost %}
  <div><div>&larr; Previous</div> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></div>
{% else %}
  <div></div>
{% endif %}
{% if nextPost %}
  <div><div>Next &rarr;</div> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></div>
{% else %}
  <div></div>
{% endif %}
</div>

{% if metadata.utterancesGithubRepo %}
<br>
<script src="https://utteranc.es/client.js"
        repo="{{ metadata.utterancesGithubRepo }}"
        issue-term="pathname"
        theme="{{ metadata.utterancesTheme }}"
        crossorigin="anonymous"
        defer
        async>
</script>
{% endif %}

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}
