---
#layout: layouts/base-id.njk
templateClass: tmpl-post
---
{% extends "layouts/base-id.njk" %}


{% block extraArticleHeader %}
<p><a href="/id/categories/{{ category }}">{{ category[0].toUpperCase() + category.slice(1).toLowerCase() }}</a> | <time class="post-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
{% endblock %}
{% set shareUrl = metadata.url + page.url %}

{% block article %}
{{ content | safe }}

<br>
<hr>
<p>
  Terima kasih udah baca sampai selesai! <a href="{{ shareUrl | safe }}" on-click="share">Sharing</a> artikel ini bakal sangat dihargai 💖! Kalo ada masukan, bisa langsung 
  <a href="https://twitter.com/{{ metadata.author.twitterHandle }}" target="_blank" rel="noopener">DM di Twitter</a> aja ya!
</p>
<p>
  Tags: 
  {% for tag in tags %}
    {% if tag != "posts" %}
    <a href="/tags/{{ tag }}/">{{ tag }}</a> /
    {% endif %}
  {% endfor %}
</p>

{# {% set relatedPosts = site.posts | filter: { tags: tags } | limit: 3 %}
{% if relatedPosts %}
<h3>Related Posts</h3>
<ul>
  {% for post in relatedPosts %}
  <li><a href="{{ post.url | safe }}">{{ post.title | safe }}</a></li>
  {% endfor %}
</ul>
{% endif %} #}

{% set previousPost = collections.posts | languageFilter("id") | getPreviousCollectionItem(page)%}
{% set nextPost = collections.posts | languageFilter("id") | getNextCollectionItem(page) %}

<br>
<div class="post-navigation">
{% if previousPost %}
  <div><div>&larr; Sebelumnya</div> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></div>
{% else %}
  <div></div>
{% endif %}
{% if nextPost %}
  <div><div>Selanjutnya &rarr;</div> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></div>
{% else %}
  <div></div>
{% endif %}
</div>

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}
