// Highlighting the title
/* h1 > mark {
  color: #181818;
}
h1 > mark::selection {
  background: #181818;
  color: var(--selection);
} */

p > mark {
  padding: 0.25rem 0.25rem;
}

mark {
  background: var(--selection);
  color: var(--font-color);
}
