*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: "IBM Plex Mono", monospace;
}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }
}

header {
    height: 50vh;
    background-image: linear-gradient(
            to right bottom,
            rgba(39, 40, 56, 0.6),
            rgba(39, 40, 56, 0.6)
        ),
        url(code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 3rem;
}

nav {
    position: sticky;
    top: -1px;
    padding: 2.5vh;
    font-weight: 600;
    background-color: rgb(94, 94, 117);
    z-index: 10;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    padding: 1vh 2vw;
    background-color: rgb(169, 169, 179);
    cursor: pointer;
    transition: all 0.2s;
}

.nav-item:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.nav-link:visited,
.nav-link:link {
    color: black;
    text-decoration: none;
}

main {
    background-color: rgba(39, 40, 56);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 750px) {
    main {
        flex-direction: column;
    }
}

a:visited,
a:link {
    color: inherit;
}

article {
    padding: 0 3rem 3rem 3rem;
    color: white;
}

.heading-section {
    color: rgb(230, 222, 222);
}

.content {
    width: 50vw;
    color: white;
}

@media screen and (max-width: 750px) {
    .content {
        width: 80vw;
    }
}

.nav-target {
    height: 4rem;
}

.content:not(:last-child) {
    margin-bottom: 1rem;
}

.content a:hover {
    opacity: 0.8;
}

aside {
    background-color: rgb(243, 222, 138);
    flex-basis: 25vw;
    padding: 3rem;
    text-align: center;
}

.sticky {
    position: sticky;
    top: 5rem;
}

.profile-pic {
    margin-top: 2rem;
    border-radius: 50%;
    height: 10rem;
    margin-bottom: 1.5rem;
}

.social-icon {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

svg:hover {
    transform: scale(1.1);

}

aside p {
    text-align: left;
    margin-top: 2rem;
}
@media screen and (max-width: 600px) {
}

footer {
    background-color: rgb(235, 148, 134);
    padding: 1rem;
    text-align: center;
}
